/* Custom Animations and Styles */

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.animate-blink {
    animation: blink 1s step-end infinite;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

.animate-float {
    animation: float 4s ease-in-out infinite;
}

@keyframes float-slow {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

.animate-float-slow {
    animation: float-slow 6s ease-in-out infinite;
}

@keyframes float-slower {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(20px); }
}

.animate-float-slower {
    animation: float-slow 5s ease-in-out infinite;
    animation-delay: 1s;
}

/* Utilities */
.active-line.block {
    display: block;
}
.active-line.hidden {
    display: none;
}
